@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?hdpvi8');
  src: url('fonts/icomoon.eot?hdpvi8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hdpvi8') format('truetype'),
    url('fonts/icomoon.woff?hdpvi8') format('woff'),
    url('fonts/icomoon.svg?hdpvi8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-refresh:before {
  content: '\e934';
}
.icon-done:before {
  content: '\e933';
}
.icon-link:before {
  content: '\e932';
}
.icon-query_builder:before {
  content: '\e930';
}
.icon-book:before {
  content: '\e92e';
}
.icon-history:before {
  content: '\e92f';
}
.icon-pin_drop:before {
  content: '\e931';
}
.icon-lock:before {
  content: '\e92c';
}
.icon-home_filled:before {
  content: '\e92d';
}
.icon-tiktok:before {
  content: '\e92a';
}
.icon-verified_user:before {
  content: '\e92b';
}
.icon-walmart:before {
  content: '\e925';
}
.icon-amazon:before {
  content: '\e926';
}
.icon-etsy:before {
  content: '\e927';
}
.icon-facebook:before {
  content: '\e928';
}
.icon-twitter:before {
  content: '\e929';
}
.icon-contact-support:before {
  content: '\e91c';
}
.icon-add:before {
  content: '\e90c';
}
.icon-arrow-right:before {
  content: '\e90d';
}
.icon-arrow-right-up:before {
  content: '\e90e';
}
.icon-checkbox-circle:before {
  content: '\e90f';
}
.icon-close-circle:before {
  content: '\e910';
}
.icon-close-fill:before {
  content: '\e911';
}
.icon-delete:before {
  content: '\e912';
}
.icon-edit:before {
  content: '\e913';
}
.icon-eye:before {
  content: '\e914';
}
.icon-fast-delivery:before {
  content: '\e915';
}
.icon-favorite:before {
  content: '\e916';
}
.icon-filter-3-fill:before {
  content: '\e917';
}
.icon-filter:before {
  content: '\e918';
}
.icon-global:before {
  content: '\e919';
}
.icon-logout-circle:before {
  content: '\e91a';
}
.icon-menu:before {
  content: '\e91b';
}
.icon-person:before {
  content: '\e91d';
}
.icon-search:before {
  content: '\e91e';
}
.icon-settings:before {
  content: '\e91f';
}
.icon-shopping-cart:before {
  content: '\e920';
}
.icon-sidebar-fold:before {
  content: '\e921';
}
.icon-swap:before {
  content: '\e922';
}
.icon-upload-cloud:before {
  content: '\e923';
}
.icon-visibility-off:before {
  content: '\e924';
}
.icon-categories:before {
  content: '\e900';
}
.icon-arrow-down:before {
  content: '\e901';
}
.icon-bar-chart:before {
  content: '\e902';
}
.icon-dropbox:before {
  content: '\e903';
}
.icon-home:before {
  content: '\e904';
}
.icon-Logo:before {
  content: '\e905';
}
.icon-mail:before {
  content: '\e906';
}
.icon-money:before {
  content: '\e907';
}
.icon-post:before {
  content: '\e908';
}
.icon-pushpin-line:before {
  content: '\e909';
}
.icon-t-shirt:before {
  content: '\e90a';
}
.icon-team-line:before {
  content: '\e90b';
}
