@import './variables.css';
@import '../fonts/font.css';

html {
  font-size: 10px;
}

body {
  color: var(--color-text);
  font-family: 'SVN-Circular', sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 1.6rem;
  margin: 0;
  --el-font-size-base: 1.6rem;
  --el-text-color-regular: var(--color-text);
  --el-color-primary: var(--color-primary);
  --el-color-primary-light-3: var(--color-primary-light) !important;
  --el-color-primary-dark-2: var(--color-primary-light) !important;
  --el-mask-color: rgb(255 255 255 / 50%);
  --el-color-success: var(--color-success);
  --el-color-danger: var(--color-error);
}

h1 {
  font-size: 4.8rem;
  margin: 0;
}

h2 {
  font-size: 4rem;
  margin: 0;
}

h3 {
  font-size: 3.6rem;
  margin: 0;
}

h4 {
  font-size: 2.4rem;
  margin: 0;
}

h5 {
  font-size: 2rem;
  margin: 0;
}

h6 {
  font-size: 1.8rem;
  margin: 0;
}

p {
  margin: 0;
  font-weight: 400;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
}

.el-form-item__error {
  font-weight: 400;
}

.el-notification {
  padding: 16px;
  border-radius: 4px !important;
}

.el-notification__content {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 0 !important;
}
